{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-scss",
    "stylelint-config-recommended-vue",
    "stylelint-config-ali"
  ],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": [
      "^[a-z][a-z0-9-]*$",
      {
        "message": "类名应只包含小写字母、数字和连字符"
      }
    ],
    "no-descending-specificity": null,
    "at-rule-no-unknown": null,
    "function-url-quotes": ["always", { "except": ["empty"] }],
    "scss/dollar-variable-default": [true, { "ignore": "local" }],
    "color-no-invalid-hex": [true, { "severity": "warning" }],
    "color-named": ["never", { "ignore": ["inside-function"] }],
    "at-rule-disallowed-list": ["while"],
    "block-no-empty": true,
    "color-hex-length": "short",
    "property-no-vendor-prefix": [true, { "severity": "warning" }],
    "value-no-vendor-prefix": [true, { "severity": "warning" }],
    "unit-whitelist": ["em", "rem", "%", "s", "px", "vh", "vw", "vmin", "vmax", "deg", "ms", "fr"],
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "layer", "apply", "variants", "responsive", "screen"]
      }
    ]
  },
  "ignoreFiles": ["node_modules", "src/**/*.tsx", "src/**/*.ts", "src/**/*.jsx", "src/**/*.js"]
}
