.list-container {
  height: 100%;
  overflow: scroll;
  width: 100%;

  .list-content {
    width: 400px;

    &-box {
      align-items: center;
      border: 1px solid black;
      display: flex;
      height: 100px;
      justify-content: center;
      width: 100%;

      &-item {
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }
}
