.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-content {
    border-radius: 10px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    padding: 12px;
    width: 100%;
  }
}
